.navigation-container {
    position: relative;
    height: $navigation-height;
}

.navigation {
    $this: &;
    --navigation-height: $navigation-height;
    width: 100%;
    height: var(--navigation-height);
    position: fixed;
    top: 0;
    padding: $layout-padding 0;
    background-color: RGB(var(--primary-normal));
    box-shadow: 0 0 3px 1px RGBA(var(--black), .2);
    z-index: $level-six;
    transform: translateY(-100%);
    transition: transform .4s cubic-bezier(0.34, 1.56, 0.64, 1);

    &::before { // additional block above nav covering the extra transition space
        content: '';
        width: 100%;
        height: 8rem;
        position: absolute;
        bottom: 100%;
        left: 0;
        background-color: RGB(var(--primary-normal));
    }

    &.is-docked {
        transform: translateY(0);
    }

    &__menu {
        display: flex;
        align-items: center;
    }

    &__brand {
        width: 5rem;
        height: 5rem;
        margin-right: $layout-padding;
    }

    &__burger {

    }
    
    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        display: block;
        margin: 0 $layout-padding;

        &--home {
            width: 100%;
            height: 100%;
            margin: 0;

            #{$this}__icon { // home icon
                width: 100%;
                height: 100%;
                fill: RGB(var(--secondary-normal));
            }
        }

        &--github {
            width: 4rem;
            height: 4rem;
            position: relative;
            flex-shrink: 0;
            margin-left: auto;
            background-color: RGB(var(--secondary-normal));
            border-radius: 100%;

            #{$this}__icon { // github icon
                width: 2.8rem;
                height: 2.8rem;
                position: absolute;
                top: 50%;
                left: 50%;
                fill: RGB(var(--primary-normal)); // official github colour
                transform: translate(-50%, -50%);
            }
        }
    }

    &__link {
        @include link-reset;
        color: RGB(var(--text-light));
        font-size: 2rem;
    }

    &__icon {

    }
}