// stylelint-disable at-rule-empty-line-before

/* SETTINGS
========================================================================== */
@import 'settings/normalize';
@import 'settings/variables';
@import 'settings/mixins';
@import 'settings/layout';

/* GLOBAL
========================================================================== */
@import 'global/typography';
@import 'global/global';

/* COMMON
========================================================================== */
@import 'common/buttons';
@import 'common/picture';

/* COMPONENTS
========================================================================== */
@import '../components/BlogRoll/styles/blog-roll';
@import '../components/Content/styles/content';
@import '../components/Features/styles/features';
@import '../components/Footer/styles/footer';
@import '../components/LazyLoadImage/styles/lazy-load-image';
@import '../components/Main/styles/main';
@import '../components/Navigation/styles/navigation';
@import '../components/PageHeader/styles/page-header';
@import '../components/PreviewCompatibleImage/styles/preview-compatible-image';
@import '../components/Pricing/styles/pricing';
@import '../components/SiteMetadata/styles/site-metadata';
@import '../components/Social/styles/social';
@import '../components/Testimonials/styles/testimonials';

/* UTILITIES
========================================================================== */
@import 'utilities/trumps';

// stylelint-enable

// Helper Classes
.full-width-image-container {
    width: 100vw;
    height: 400px;
    position: relative;
    left: 50%;
    right: 50%;
    margin: 2em -50vw;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width-image {
    width: 100vw;
    height: 400px;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}