.button {
    $this: &;
    @include link-reset;
    position: relative;
    display: block;
    padding: $layout-padding $layout-padding * 2;
    background-color: var(--primary);
    text-transform: uppercase;
    text-align: center;
    color: var(--text-light);
    transition: background-color $transition, transform $transition;
    // in case the button is not an anchor or button element (it should be), cursor is set
    cursor: pointer;

    @include hover {
        background-color: var(--primary-hover);
        transform: translateY(-2px);
        box-shadow: -2px 2px 3px 1px rgba($black, .15);
        text-decoration: none;
    }

    &--secondary {
        background-color: var(--secondary);
        color: var(--text-dark);

        @include hover {
            color: var(--text-light);
        }
    }

    @media (max-width: $break-tablet) {
        padding: 1.2rem $layout-padding;
    }
}
